<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>F1 Account</title>
    <link rel="icon" th:href="@{img/f1webicon.png}">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
    <nav>
        <a href="/index.html">Home</a>
        <a href="/contact.html">Contact</a>
        <a href="">Account</a>
    </nav>
    <main class="account_main">
        <form th:action="@{/account}" th:object="${users}" method="post">
            <label>Nick: </label>
            <input name="nick" type="text" th:field="*{nick}">
            <label>Password: </label>
            <input name="password" type="text" th:field="*{password}">
            <label>Mail: </label>
            <input name="mail" type="text" th:field="*{mail}">
            <input id="submit" type="submit" value="Submit">
        </form>
    </main>
</body>
</html>