<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>F1 Greeting</title>
    <link rel="icon" th:href="@{img/f1webicon.png}">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/greetingStyle.css}"/>
</head>
<body>
    <div class="side_navbar">
        <p th:text="|Greeting for ${nick}|" />
        <a href="/index.html">Wylogowanie</a>
    </div>
    <div class="main-choose">
        <div class="f1-driver-block">
            <a th:href="@{/driver_start}"><img src="/img/f1-driver.png" alt="f1-driver"></a>
            <a th:href="@{/driver_start}">Driver</a>
        </div>

        <div class="f1-car-block">
            <img th:href="@{/car_start.html}" src="/img/f1-car.png" alt="f1-car">
            <a th:href="@{/car_start.html}">Vehicle</a>
        </div>
    </div>
</body>
</html>